@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,400i,700&subset=cyrillic');

html, body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', Arial, sans-serif;
}

.mid {
	max-width: 960px;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after{
	content: " ";
	display: table;
}
.clearfix:after{
	clear: both;
}

img{
	max-width: 100%;
}

a {
	text-decoration: none;
	color: #fff; 
}

/*Header STYLE*/

.head {
	width: 100%;
	height: 670px;
	background-image: url(../image/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/*Fonts need a import*/
}

.pbg {
	margin: 0;
	width: 100%;
	height: 100%;
	background-image: url(../image/header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

ul {
	padding: 0;
	margin: 0;
}

.logo {
	width: 30%;
	float: left;
}

.logo li {
	display: inline-block;
	list-style-type: none;
	margin-right: 11px;
	margin-top: 15px;
}

.logo li:last-child {
	margin-right: 0;
}

a.tajam {
	color: #2497A3;
	font-size: 25px;
}

.logo a {
	font-size: 20px;
}

.menu {
	width: 70%;
	float: right;
	font-weight:bold;
}

.menu li {
	display: inline-block;
	list-style-type: none;
	margin-right: 25px;
	margin-top: 35px;
}

.menu li:last-child {
	margin-right: 0;
}

a.activ {
	color: #00E0D0;
}

.menu a {
	font-size: 17px;
	transition: all .5s;
}

.menu a:hover {
	color: #00E0D0;
}

article.text-nav {
	text-align: center;
	margin-top: 165px;
}

.nav-h1 {
	font-size: 32px;
	color: #fff;
}

hr.hr-menu {
	width: 50px;
	margin: 26px auto;
}

.head-text {
	color: #fff;
	font-size: 20px;
	margin: 0 0 50px 0;
}

.button {
	text-decoration:none;
	text-align:center; 
	padding:15px;
	margin-bottom: 125px;
	border: solid 1px #00e0d1;
	border-radius: 3px;
	font-weight:bold; 
	color:#00e0d1;
	background: rgba( 0, 0, 0, 0,9); 
	-webkit-transition: all 0.5s;
	-moz-transition:  all 0.5s;
	-o-transition:  all 0.5s;
}

.button:hover {
	border:solid 1px #00e0d1; 
	font-weight:bold; 
	color:#fff; 
	background:#00e0d1;  

}

.button:active {
	border:solid 1px #09a197; 
	font-weight:bold; 
	color:#00E0D0; 
	background:#ffffff;
}

/*--Main content style(middle)--*/

.wbg {
	width: 100%;
	height: 100%;
	background: #fff;
}

.left-logo {
	width: 25%;
	float: left;
	margin-top: 60px;
	margin-left: 80px;
}

.right-text {
	width: 55%;
	float: right;
	text-align: left;
	margin-left: 100px;
}

.middle-h2 {
	margin: 60px 0 28px 0;
	font-size: 24px;
	font-family: 'Open Sans', sans-serif;
	color: #413D4B;
}

.meddle-text {
	margin: 0 0 35px 0;
	color: #817F86;
	font-size: 16px;
}

/*--Video--*/
.img-bg-mid {
	width: 100%;
	height: 600px;
	background-image: url(../image/middle-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	margin-top: 50px;
}

.play {
	background: rgba(0,0,0,0);
	margin:250px 0 0 20px;
	border: none;
}

.vidres-h4 {
	margin: 35px 0 140px 10px;
	color: #fff;
	font-size: 18px;
}

.ex {
	padding-bottom: 42px;
	text-align: center;

}

.ex_h3 {
	margin: 80px 0 0 0;
}

hr.hr_mid {
	color: #C6C4C9;
	width: 50px;
	margin: 10px auto 0;
}

.ex_blok, .result_blok {
	float: left;
	width: 300px;
	text-align: center;
}

.ex_blok_m5, .result_blok_m5 {
	margin: 0 25px;
}

.ex_img {
	margin: 80px 0 35px 30px;
}

.ex_h4 {
	font-size: 18px;
	margin: 0 0 30px 45px;
}

.ex_p {
	margin: 10px 0 0 45px;
}

#shadow {
	padding-bottom: 30px;
	box-shadow: 0 1px 0 0 #EBEBEB;
}

/*ASSIDE*/
.middle {
	width: 100%;
	height: 712px;
	background-image: url(../image/middle-2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 80px 0 0 0;
}

.page-wrapper {
	margin: 0 auto;
}

.wrapper {
	float: left;
	margin: 35px 0 0 15px;
}

.aside_img {
	background: #fff;
	width: 220px;
	height: 230px;
}

/* Amazing mid*/

.amazing {
	padding-top: 50px;
}

#am_h1 {
	color: #fff;
	font-size: 17px;
	text-align: center;
}

#am_p {
	color: #fff;
	margin: 20px 0;
	text-align: center;
	font-size: 15px;
}

#am_hr {
	width: 50px;
	color: #655D80;
	margin: 0 auto;
}

.wrapper {
	text-align: center;
}

.aside_h4 {
	color: #fff;
	font-size: 17px;
}

.aside_p {
	color: #9A98A9;
	font-size: 14px;
	font-style: italic;
}

.border {
	padding: 30px;
	border: 1px solid #78768B;
}

#aside_text {
	color: #F3F3F3;
	font-size: 15px;
	margin: 40px 0 60px 0;
	font-style: oblique;
}

.more-info {
	text-align: center;
}

/*WORKS*/

.works {
	width: 100%;
	height: 737px;
	background: #fff;
	padding-top: 70px;
}

#our_works {
	width: 20%;
	float: left;
	font-size: 20px;
}

#works_desc {
	width: 30%;
	float: right;
	margin-bottom: 70px;
}


#works_desc a {
	color: #000;
}

#right {
	margin-left: 8px;
}

.bg_block {
	width: 100%;
	max-height: 400px;
}

.top_block, .bot_block {
	width: 100%;
	max-height: 200px;
}

[class*='block'] {
	float: left;
	height: 200px;
	width: 16.6586%;
}

.block_1 {
	background: #B6B6B6;
}

.block_2 {
	background: #ACACAC;
}

.block_3 {
	background: #A1A1A1;
}

.block_4 {
	background: #8A8A8A;
}

.block_5 {
	background: #B6B6B6;
}

.block_6 {
	background: #A4A4A4;
}

#button {
	margin: 80px auto;
	text-align: center;
}

.slider {
	width: 100%;
	height: 550px;
	background-image: url(../image/bottom-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: #fff;
}



.in {
	font-size: 110px;
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	padding-top: 70px;
}

.p_text {
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
	font-size: 18px;
	margin-bottom: 50px;
}

.fa {
	cursor: pointer;
	font-size: 30px;
	margin: 0 5px;
}

.photo {
	margin: 45px 0 0 5px;
	cursor: pointer;
}

/*Commit and Clints*/

.commit_client {
	width: 100%;
	height: 653px;
	background: #fff;
	padding-top: 50px;
}

.commit {
	width: 53%;
	float: left;
	margin-right: 7%;
}

.client {
	width: 40%;
	float: right;
}

.commit_h4 {
	font-size: 1.5em;
	margin-bottom: 20px;
}

.input {
	width: 100%;
	margin: 10px 0;
	border: 1px solid #ccc;
	padding: 10px 0;
	font-size: 18px;
	text-indent: 20px;
	color: #555;
	outline: none;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.text-aria {
	width: 100%;
	height: 200px;
	margin: 10px 0 40px 0;
	border: 1px solid #ccc;
	padding: 10px 0;
	font-size: 18px;
	text-indent: 20px;
	color: #555;
	outline: none;
	resize: none;
}

.left__img, .right__img {
	width: 45%;
	float: left;
}

.left__img {
	margin-right: 10%;
}

.left__img, .right__img {
	padding-top: 20px;
}

.client_logo {
	margin: 0 0 40px 0;
}

.submit {
	padding: 10px 30px 10px 30px;
}

/*Footer*/
footer {
	height: 400px;
	width: 100%;
	background-image: url(../image/footer-img.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	color: #fff;
}

#footer_left {
	width: 33%;
	float: left;
	margin-top: 20px;
}

#footer_left li {
	display: inline-block;
	list-style-type: none;
	margin: 15px 0 30px 11px;
}

#footer_left li:last-child {
	margin-right: 0;
}

.footer_text {
	color: #fff;
	text-align: left;
}

.help {
	margin: 70px 0;
}

#footer_center {
	width: 30%;
	float: left;
	margin: 50px 0 0 30px;
}

.footer_h4 {
	margin: 10px 0 30px 0;
}

#footer_right {
	width: 33%;
	float: right;
	margin-top: 20px;
}

#footer_right li {
	display: inline-block;
	list-style-type: none;
}

#subscribe {
	height: 50px;
	width: 250px;
	background: rgba(0, 0, 0, 0.1);
	border: solid #9E97AF 0.4px;
	padding-left: 20px;
	margin-bottom: 40px;
}


.icons_soc {
	display: inline-block;
	margin-left: 10px;
}


.remodal {
  text-align: left;
}

.modal_h3 {
  border-bottom: 1px solid #ccc;
  font-size: 27px;
  padding-bottom: 10px;
  margin: 0 0 20px;
}

.modal_p {
  text-align: center;
}

.modal_form {
  width: 70%;
  margin: 40px auto;
}

.input {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 10px 0;
  text-indent: 20px;
  color: #555;
  border-radius: 3px;
  outline: none;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}

.input:focus {
  border: 1px solid #99c8d3;
}

.input_sub {
  border: 1px solid #E4421E;
  background: #FF4A21;
  color: #fff;
  text-transform: uppercase;
  padding: 20px 0;
}

.input_sub:hover {
  border: 1px solid #1d4965;
  background: #245c80;
}